.footer{
}
.footer__section{
    margin: 0 auto;
}
.footer__content{
    display: flex;
    font-size: 16px;
    margin-bottom: 72px;
    flex:1 1 auto;
    @media (max-width:600px) {
        display: none;
    }

}
.footer__content>ul{
    flex: 1 1 auto;
}
.footer__content>ul>li{
    margin-bottom: 25px;
    line-height: 25/16;
}
.footer__content>ul>li:first-child{
    margin-bottom: 30px;
}
.footer__content>ul>li:last-child{
    margin-bottom: 0;
}
._icon-Frame{
    font-size: 50px;
    color: #5B0488;
}
.footer__footer-list{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    @media (max-width:767.98px) {
        text-align: center;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: auto 5%;
        gap: 10px;
    }
    
}
.footer__footer-list>li:nth-child(2){
    flex: 0 1 300px;
    display: flex;
    justify-content: space-between;
    @media (max-width:767.98px) {
        text-align: center;
        flex-wrap: wrap;
        justify-content: center;
        flex: 1 1 auto;
        
    }
}
.footer__footer-list>li:nth-child(3){
    text-align: right;
}
