@font-face{
                    
	font-family:Montserrat;
                    
	font-display:swap;
                    
	src:url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
                    
	font-weight:700;
                    
	font-style:normal;

                }
@font-face{
                    
	font-family:Montserrat;
                    
	font-display:swap;
                    
	src:url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
                    
	font-weight:500;
                    
	font-style:normal;

                }
@font-face{
                    
	font-family:Pragmaticashadowc ;
                    
	font-display:swap;
                    
	src:url("../fonts/Pragmaticashadowc italic.woff2") format("woff2"), url("../fonts/Pragmaticashadowc italic.woff") format("woff");
                    
	font-weight:400;
                    
	font-style:normal;

                }
@font-face{
                    
	font-family:Shalimar;
                    
	font-display:swap;
                    
	src:url("../fonts/Shalimar-Regular.woff2") format("woff2"), url("../fonts/Shalimar-Regular.woff") format("woff");
                    
	font-weight:400;
                    
	font-style:normal;

                }
