//Подключение миксинов=======================================================================================

@import "base/_default";
// @import "base/mixins";

//Подключение шрифтов==========================================================================================
//&display=swap - добавить при подключении через плагин
//Подключить если есть локальные файлы шрифтов
@import "fonts/fonts";
//Подклчение иконочных шрифтов================================================================================
//Подключить если есть файл иконочного шрифта
// @import 'fonts/icons';
@import 'fonts/icons';

// Шрифт по умолчанию=========================================================================================
$fontFamily:'Montserrat';
$fontSize: rem(14); //где 14(px) - размер шрифта по молчанию из макета

//Основные цвета
$mainColor:#180330; //цвет шрифта по умолчанию

// настройки==================================================================================================
// минимальная ширина страницы
$minWidth:320;
// ширина полотна (макета)
$maxWidth:1440;
// ширина ограничивающего контейнера (0 - нет ограничения) 
$maxWidthContainer:1286;
//общий отступ у контейнера
// (30 = по 15px слева и справа, 0 - нет отступа)
$containerPadding:30;



// Тип адаптива:
// 1 - отзывчивость (у контейнера нет брейкпоинтов)
// 2 - по брейк поинтам (контейнер меняет свою ширину по брейк поинтам)
$responsiveType:1;


//Ширина срабатывания первого брейкпоинта
$containerWidth:$maxWidthContainer+ $containerPadding;

//брейкпоинты
$pc:em($containerWidth);//Пк, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet:em(991.98); //Планшеты, некоторые телефоны в горизонтальном положении
$mobile:em(767.98);//Телефоны L
$mobileSmall:em(479.98);//Телефоны S


._container{
    max-width: 1286px;
    min-width: 320px
}
.border{
    border: 1px solid black;
}

@import 'works/header';
@import 'works/sectionMain';
@import 'works/sectionTable';
@import 'works/sectionCards';
@import 'works/footer';

// body{
    
// background: linear-gradient(180deg, #FEFCF4 0%, #FFFDF4 33.33%, #F6F2F5 38.54%, #F7F3F5 100%), #F7F3F5;
// }